body {
  background-image: url("saint-peter-1920.png");
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

img {
  position: fixed; 
  right: 15vh;         
  bottom: 0;      
  height: 40vh;    
  width: auto;     
}