body {
  background-image: url("saint-peter-1920.png");
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

img {
  position: fixed; 
  right: 15vh;         
  bottom: 0;      
  height: 40vh;    
  width: auto;     
}


svg{
  fill: white;
  width: 20%;
  height: auto;
  padding: 0;
  
}

.logo:hover svg{
  fill: #00F5D4;
}

.logo:active svg{
  fill: #FF3D81;
}